accelerate==0.5.1
h5py==2.10.0
imageio==2.6.1
matplotlib==3.4.2
matplotlib-inline==0.1.3
numpy==1.20.3
opencv-python==3.4.2.17
pandas==1.3.0
Pillow==8.3.1
pip==21.0.1
scikit-image==0.18.1
scikit-learn==0.24.2
scipy==1.6.3
torch==1.9.0
torch-cluster==1.5.9
torch-geometric==2.0.0
torch-scatter==2.0.8
torch-sparse==0.6.12
torch-spline-conv==1.2.1
torchfile==0.1.0
torchvision==0.10.0
tqdm==4.62.2
yacs==0.1.6
